<!DOCTYPE html>
<html ng-app="z2hApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Zero2Hero</title>
    <link rel="stylesheet" type="text/css" href="bower_components/foundation/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/foundation/css/foundation.css"/>
</head>
<body>

<div>
    <div>
        <input type="text" ng-model="data.message">
        <h1>{{data.message}}</h1>

        <div ng-controller="FirstCtrl as first">
            <input type="text" ng-model="first.message">
            <h1>{{first.data}}</h1>
        </div>

        <div ng-controller="SecondCtrl as second">
            <input type="text" ng-model="second.message">
            <h1>{{second.data}}</h1>
        </div>
    </div>
</div>
</body>
</html>